/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.light {
  --color-primary: #009688;
}

.dark {
  --color-white: #fff;
  --color-black: #fff;

  --color-dark: #121212;
  --color-dark-grey: #1c1c1c;
  --color-light-grey: #292929;
  --color-lighter-grey: #cbcaca;
  --color-darker-white: #989898;
  --color-dark-white: #e3e3e3;

  --app-header-background: var(--color-light-grey);
  --app-header-border-bottom-color: var(--color-dark-grey);

  --app-sidenav-background: var(--color-light-grey);
  --app-sidenav-color: var(--color-dark-white);
  --app-sidenav-subheader-color: var(--color-lighter-grey);
  --app-sidenav-icon-color: var(--color-darker-white);

  --app-content-background: var(--color-dark);
  --app-content-color: var(--color-white);
}
