/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.light {
  --color-dark-grey: #1c1c1c;
  --color-light-grey: #2c2c2c;
  --color-lighter-grey: #d3d3d3;
  --color-white: #fff;

  --app-background: var(--color-white);

  --app-header-background: var(--color-white);
  --app-header-border-bottom-color: var(--color-lighter-grey);
  --app-header-color: var(--color-light-grey);
}

.dark {
  --color-dark-grey: #1c1c1c;
  --color-light-grey: #292929;
  --color-white: #fff;

  --app-background: var(--color-dark-grey);

  --app-header-background: var(--color-light-grey);
  --app-header-border-bottom-color: var(--color-dark-grey);
  --app-header-color: var(--color-white);
}
