<!--
 Copyright 2021 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Diagnostics</span>
  <span class="example-spacer"></span>
  <div>
    <button
      mat-icon-button
      (click)="onToggleTheme()"
      aria-label="Toggle Light/Dark Mode"
    >
      <mat-icon *ngIf="!darkThemeEnabled">light_mode</mat-icon>
      <mat-icon *ngIf="darkThemeEnabled">dark_mode</mat-icon>
    </button>
  </div>
</mat-toolbar>
