/**
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:host {
  background: inherit;
}

.mat-list-base .mat-list-item {
  color: var(--app-sidenav-color);
  display: flex;
  align-items: center;
}

.mat-list-base .mat-list-item .text {
  margin-left: 10px;
}
