<!--
 Copyright 2021 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->

<mat-nav-list>
  <app-side-nav-item></app-side-nav-item>
</mat-nav-list>
<div mat-subheader>Metrics</div>
<mat-nav-list>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
</mat-nav-list>
<div mat-subheader>Diagnostics</div>
<mat-nav-list>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
  <app-side-nav-item></app-side-nav-item>
</mat-nav-list>
