/**
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

h2 {
  margin-top: .5rem;
  padding-left: 2rem;
  margin-bottom: .5rem;
  color: #aaa;
}