<!--
 Copyright 2021 The Chromium Authors. All rights reserved.
 Use of this source code is governed by a BSD-style license that can be
 found in the LICENSE file.
-->
<app-header (themeChange)="onSetTheme($event)"></app-header>
<div class="app-layout">
  <div class="app-sidenav">
    <h2>Dashboard</h2>
    <h2>Metrics</h2>
    <ul>
      <li
        *ngFor="
          let num of [
            'CPU',
            'RAM',
            'Bluetooth',
            'Battery',
            'Cooling',
            'Storage'
          ]
        "
      >
        {{ num }}
      </li>
    </ul>
    <h2>Diagnostics</h2>
    <ul>
      <li *ngFor="let num of ['CPU', 'Disk', 'Battery', 'Power', 'NVMe']">
        {{ num }}
      </li>
    </ul>
    <h2>Settings</h2>
  </div>
  <div class="app-content">
    <h1>Sample Diagnostics App</h1>
    <ul>
      <li *ngFor="let num of numbers">
        {{ num }}
      </li>
    </ul>
  </div>
</div>
