/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.posix {
  font-size: 1.1em;
  margin-right: 5px;
}

.region {
  font-size: 0.9em;
  font-weight: 500;
}
