/*
 * Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.backlight-object:not(:last-child) {
  margin-bottom: 1rem;
}

.path {
    font-weight: 500;
    text-transform: capitalize;
}
